header {
  /* min-height: 936px; */
  height: 100vh;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("../img/header/bg.jpeg");
  background-size: cover;
  background-position: center top;
  padding: 54px 100px 78px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-weight: 600;
}
nav {
  font-family: "Montserrat", sans-serif;
  display: flex;
  gap: 38px;
  font-size: 24px;
  align-self: flex-end;
  text-transform: uppercase;
}
.nav-item {
  color: white;
  &:hover {
    color: var(--red);
  }
}

h1 {
  max-width: 776px;
}
