.history-content {
  background-color: #fbfbfb;
  border-radius: 55px;
  padding: 50px 100px;
}

.history h2 {
  color: black;
}
.history h3 {
  color: var(--red);
  font-size: 36px;
}
.history p {
  color: black;
}

@media (max-width: 920px) {
  .history-content {
    padding: 0;
  }
  .history h2 {
    font-size: 42px;
  }
  .history h3 {
    font-size: 42px;
  }
  .history p {
    font-size: 18px;
  }
}
