@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

:root {
  --red: #f22424;
  --dark-red: #2d0505;
  --dark-gray: #0d0d0d;
  --light-gray: #313131;
}

.content {
  max-width: 1240px;
  margin: auto;
}
section {
  padding: 50px 100px;
}

body {
  margin: 0;
  color: white;
}
body section:nth-child(even) {
  background-color: var(--dark-red);
}
body section:nth-child(odd) {
  background-color: var(--dark-gray);
}

* {
  box-sizing: border-box;
}

*::selection {
  background: rgba(242, 36, 36, 0.8);
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 5px 0;
  font-size: 20px;
}

h1,
h2,
h3 {
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 64px;
  margin: 0;
  font-weight: 600;
}
p {
  font-size: 24px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  margin: 24px 0;
}

.highlight {
  color: var(--red);
}

button {
  background-color: var(--red);
  border: none;
  font-size: 18px;
  padding: 10px 16px;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
    background: #f55c5c;
  }
}

@media (max-width: 500px) {
  section {
    padding: 10px;
  }
  h2 {
    text-align: center;
    font-size: 48px;
  }
}
