@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

:root {
  --red: #f22424;
  --dark-red: #2d0505;
  --dark-gray: #0d0d0d;
}

.content {
  max-width: 1240px;
  margin: auto;
}
section {
  padding: 50px 100px;
}

body {
  margin: 0;
  color: white;
}
body section:nth-child(even) {
  background-color: var(--dark-red);
}
body section:nth-child(odd) {
  background-color: var(--dark-gray);
}

* {
  box-sizing: border-box;
}

*::selection {
  background: rgba(242, 36, 36, 0.8);
  color: white;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 64px;
  margin: 0;
}
p {
  font-size: 24px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.highlight {
  color: var(--red);
}
