.slider {
  position: relative;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  align-items: center;
}

.slide {
  min-width: 600px; /* Adjust the width of each slide */
  min-height: 338px;
  border-radius: 25px;
  overflow: hidden;
  box-sizing: border-box;
  margin-right: 30px; /* Optional: space between slides */
}
.slide img {
  width: 100%;
  height: 100%;
}
.slide iframe {
  min-width: 600px;
  min-height: 338px;
}

.slider button {
  background-color: transparent;
  &:hover {
    background-color: transparent;
  }
}
button:disabled {
  opacity: 0.5;
}

@media (max-width: 920px) {
  .slide {
    min-width: 300px;
    min-height: 169px;
  }
  .slide iframe {
    min-width: 300px;
    min-height: 168px;
  }
}
